$accent--lightmode: #e3e2e1;
$primary--lightmode: #464646;
$primary-light--lightmode: #9f9f9f;
$primary-lighter--lightmode: #cac5c3;
$shadow--lightmode: 0 8px 16px rgba(10, 10, 10, 0.1);

$accent--darkmode: #353535;
$primary--darkmode: #e0e0e0;
$primary-light--darkmode: #9f9f9f;
$primary-lighter--darkmode: #4a4a4a;
$shadow--darkmode: 0 8px 16px rgba(226, 226, 226, 0.1);

$danger: #ff0e3a;
$warning: #ff742a;
$info: #ffae00;
$success: #51d88a;
$links-lightmode: #3eb100;
$links-darkmode: #aacf39;

$thumbnail-height: 15em;
$body-max-width: 1920px;

$sidebar-ratio: calc(1 - #{$content-ratio});
$content-max-width: calc(#{$body-max-width} * #{$content-ratio});
$sidebar-max-width: calc(#{$body-max-width} - #{$content-max-width});
$content-width: calc(#{$content-ratio} * 100%);
$sidebar-width: calc(#{$sidebar-ratio} * 100%);
